.card {
  width: 140px;
  height: 280px;
  background-color: #fff;
  border-radius: 13px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--red {
    color: #f00;
  }
}

.card_number--secondary {
  align-self: flex-end;
  transform: rotate(180deg);
}

.card_digit {
  font-size: 22px;
  font-weight: bold;
}
